Flask==2.0.1
GeoAlchemy2==0.12.5
geopandas==0.11.1
Keras==2.4.3
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
lxml==4.9.1
Markdown==3.3.4
matplotlib==3.4.1
numpy==1.19.5
opencv-python==4.5.3.56
pandas==1.2.3
Pillow==8.1.2
pip==22.3
psycopg2==2.9.3
pycurl==7.43.0.6
PyMySQL==1.0.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyspark==3.1.1
requests==2.25.1
requests-futures==1.0.0
requests-oauthlib==1.3.0
scikit-image==0.18.1
scikit-learn==0.24.1
scipy==1.6.2
seaborn==0.11.1
spylon==0.3.0
spylon-kernel==0.4.1
tables==3.6.1
tblib==1.7.0
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0
tensorflow-estimator==2.5.0
urllib3==1.26.4
vincent==0.4.4
zipp==3.4.1
